{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clj-commons/clj-http-lite {:mvn/version "1.0.13"}
        org.babashka/cli {:mvn/version "0.4.39"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        org.clojure/spec.alpha {:mvn/version "0.3.218"}
        expound/expound {:mvn/version "0.9.0"}
        nl.surf/eduhub-rio-mapper {:local/root "eduhub-rio-mapper"
                                   :exclusions [nl.jomco/ring-trace-context
                                                org.clojure/data.json
                                                org.clojure/clojure
                                                #_org.clojure/tools.logging
                                                org.clojure/tools.cli
                                                compojure/compojure
                                                ch.qos.logback.contrib/logback-jackson
                                                org.apache.santuario/xmlsec
                                                com.fasterxml.jackson.dataformat/jackson-dataformat-cbor
                                                ring/ring-defaults
                                                ring/ring-jetty-adapter
                                                ring/ring-json
                                                com.taoensso/carmine
                                                commons-io/commons-io
                                                com.fasterxml.jackson.core/jackson-core
                                                clj-http/clj-http
                                                nl.jomco/envopts
                                                nl.jomco/clj-http-status-codes
                                                org.clojure/data.xml
                                                cheshire/cheshire
                                                ch.qos.logback.contrib/logback-json-classic
                                                org.clojure/tools.reader
                                                ch.qos.logback/logback-classic
                                                org.clojure/core.memoize
                                                ring/ring-core
                                                org.clojure/core.async]}
        com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}
 :aliases {:reveal-nrepl-middleware {:extra-deps {vlaaad/reveal {:mvn/version "RELEASE"}}
                                     :main-opts  ["-m" "nrepl.cmdline"
                                                  "--middleware" "[vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware]"]
                                     :jvm-opts ["-Dvlaaad.reveal.prefs={:theme,:light,:font-size,14}"]}
           :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.9.0" :git/sha "d758807"
                                                            ;; omits deps-deploy dependency:
                                                            :deps/root "slim"}
                          clj-bin/clj-bin {:git/url "https://github.com/markus-wa/clj-bin"
                                           :git/sha "6a26e14a7699b4c92242fe6143a1e94dddac2b78"}}
                   :ns-default build}}}
